.navigation__wrapper
  ul.navigation__list 
    li.navigation_list_item
      p.list__index 01.
      a.navigation__list__link(href="/work" data-first-letter="W" data-other-letters="ork") Work 

    li.navigation_list_item
      p.list__index 02.
      a.navigation__list__link(href="/about" data-first-letter="A" data-other-letters="bout") About 

    li.navigation_list_item
      p.list__index 03.
      a.navigation__list__link(href="/playground" data-first-letter="P" data-other-letters="layground") Playground 

    li.navigation_list_item
      p.list__index 04.
      a.navigation__list__link(href="/contact" data-first-letter="C" data-other-letters="ontact") Contact 

  ul.navigation__hover__list 
    li.navigation__hover__item(data-first-letter="H" data-other-letters="ome")
      | Home 

    li.navigation__hover__item(data-first-letter="W" data-other-letters="ork")
      | Work 

    li.navigation__hover__item(data-first-letter="A" data-other-letters="bout")
      | About 

    li.navigation__hover__item(data-first-letter="P" data-other-letters="layground")
      | Playground 

    li.navigation__hover__item(data-first-letter="C" data-other-letters="ontact")
      | Contact 

  .navigation__credits 
    ul.navigation__credits__wrapper 
      li.navigation__credit 
        p.navigation__credit__task Inspired By:
        a.navigation__credit__link Huy Phan

      li.navigation__credit 
        p.navigation__credit__task Fonts By:
        a.navigation__credit__link FontShare
