.navigation__wrapper
  ul.navigation__list 
    li.navigation__list__item
      p.list__index 01.
      a.navigation__list__link(href="/work" data-first-letter="W" data-other-letters="ork" id=work || "work") Work 

    li.navigation__list__item
      p.list__index 02.
      a.navigation__list__link(href="/about" data-first-letter="A" data-other-letters="bout" id=about || "about") About 

    li.navigation__list__item
      p.list__index 03.
      a.navigation__list__link(href="/playground" data-first-letter="P" data-other-letters="layground" id=playground || "playground") Playground 

    li.navigation__list__item
      p.list__index 04.
      a.navigation__list__link(href="/contact" data-first-letter="C" data-other-letters="ontact" id=contact || "contact") Contact 

  ul.navigation__hover__list 
    template(id="hoverHome")
      li.navigation__hover__item(data-first-letter="H" data-other-letters="ome")
        | Home 
    template(id="hoverWork")
      li.navigation__hover__item(data-first-letter="W" data-other-letters="ork")
        | Work 
    template(id="hoverAbout")
      li.navigation__hover__item(data-first-letter="A" data-other-letters="bout")
        | About 
    template( id="hoverPlayground")
      li.navigation__hover__item(data-first-letter="P" data-other-letters="layground")
        | Playground 
    template( id="hoverContact")
      li.navigation__hover__item(data-first-letter="C" data-other-letters="ontact")
        | Contact 

  .navigation__credits 
    ul.navigation__credits__wrapper 
      li.navigation__credit 
        p.navigation__credit__task Inspired By:
        a.navigation__credit__link(href="https://huyml.co" target="_blank" rel="noopener noreferrer") Huy Phan

      li.navigation__credit 
        p.navigation__credit__task Fonts By:
        a.navigation__credit__link(href="https://fontshare.com" target="_blank" rel="noopener noreferrer") FontShare