nav.navigation 
  .navigation__menu
    include ./header.pug

  .navigation__hover
    include ./links.pug

  - var home = "Home"
  - var work = "Work"
  - var about = "About"
  - var playground = "Playground"
  - var contact = "Contact"
  include ./links.pug

  .navigation__footer
    include ./footer.pug