.about {
}
.about__wrapper {
}
.about__main {
  display: none;
  @include media("<phone") {
    height: 100vh;
    display: block;
  }
}
.about__heading {
  display: none;
  @include media("<phone") {
    display: block;
  }
}
.about__heading__wrapper {
  @extend %title-page;
}
.about__heading__text {
  @extend %title-80;
}
.about__heading__subtext {
  @extend %text-20;
  width: 48.1rem;
  margin: 0 auto;

  @include media("<phone") {
    width: clamp(0rem, 33.1rem, 400px);
  }
}

.about__mobile {
}
.about__mobile__wrapper {
  @extend %mobile;
  width: 100%;
  top: clamp(0rem, 27.5rem, 350px);
  bottom: 5rem;
  display: grid;
  place-content: center;
  position: fixed;
}
.about__mobile__media {
  margin: 0 auto;
  width: 24rem;
  height: clamp(0rem, 32rem, 300px);
}
.about__mobile__image {
}
.about__body {
}
.about__body__wrapper {
}
