.about__sections__wrapper {
  @include media("<phone") {
    display: grid;
    margin-top: 42.5vh;
    gap: clamp(0rem, 6.5rem, 65px);
    position: absolute;
    width: 100%;
    z-index: $z-1;
    bottom: 5rem;
    top: 0;
  }
}
.about_me {
  @include media("<phone") {
    display: none;
  }
}
.about__me__wrapper {
  @extend %screen-about;
  margin-top: 1.2rem;
}
.about__text {
  @extend %title-150-x;
  font-family: $font-serif;
  display: inline;
  opacity: 0;
  span {
    display: inline-block;
  }
}
.about__media {
  display: inline-block;
  @extend %about-images;
  background: $color-white;
  &:first-of-type {
    width: 17.5rem;
    height: 22.5rem;
    position: absolute;
    margin: 0 0 0 2rem;
    bottom: 52vh;
    top: unset;
    right: 4rem;
    overflow: hidden;
    video {
      transition: 2s $ease-out-expo;
      filter: grayscale(0);
    }
    img:hover {
      filter: grayscale(1);
    }
  }
  &:nth-of-type(2) {
    margin-left: 2rem;
    margin-right: 6rem;
    height: 12rem;
    width: 50rem;
    margin: 0 3.7rem 0 2.6rem;
    right: 0.5rem;
    img {
      transition: 2s $ease-out-expo;
      filter: grayscale(0);
    }
    img:hover {
      filter: grayscale(1);
    }
  }
}
.about__media__image {
  opacity: 0;
}
