$color-25-black: #19212340;
$color-25-white: #eaecee40;
$color-half-black: #19212380;
$color-half-white: #eaecee80;
$color-75-black: #192123bf;
$color-75-white: #eaeceebf;
$color-black: #192123;
$color-white: #eaecee;

$font-serif: "Manuscribe Free", sans-serif;
$font-sans: "clash display", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;
$z-9: 9;
