$color-25-black: #1a1a1a40;
$color-25-white: #eaeaea40;
$color-half-black: #1a1a1a80;
$color-half-white: #eaeaea80;
$color-75-black: #1a1a1abf;
$color-75-white: #eaeaeabf;
$color-black: #191919;
$color-white: #eaeaea;

$font-serif: "zodiak", Georgia, "Times New Roman", Times, serif;
$font-sans: "clash display", Arial, Helvetica, sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;
$z-9: 9;
