.navigation {
  position: relative;
  z-index: $z-4;
  @include media("<phone") {
    opacity: 0;
    display: none;
  }
}
.navigation__menu {
  z-index: $z-1;
  position: relative;
  @extend %mobile;
  * {
    color: $color-white;
    fill: $color-white;
  }
}
.navigation__hover {
  pointer-events: none;
  .navigation__wrapper {
    background: $color-black;
    z-index: $z-1;
    height: 100vh;
    top: 0;
    opacity: 0;
    &:before {
      content: "";
      width: 100vw;
      height: 20em;
      top: calc(50vh + 20rem / 2);
      background: $color-black;
      position: absolute;
      z-index: $z-1;
    }
    @include media("<phone") {
      // top: calc(50vh - 30rem / 2);
      top: 25vh;
      background: transparent;
      &::before {
        display: none;
      }
    }
  }

  * {
    color: $color-white;
  }

  .list__index {
    @include media(">phone") {
      color: $color-half-white;
    }
  }
  .navigation__list,
  .navigation__credits {
    @include media("<phone") {
      display: none;
    }
  }
  .navigation__hover__list {
    display: flex;
  }
}
.navigation__hover__list {
  @extend %hard-center;
  @extend %row;
  display: none;
}
.navigation__hover__item {
  @extend %hard-center;
  @extend %title-200;
  display: flex;
  background: $color-black;
  position: absolute;
  left: 50%;
  visibility: hidden;
  width: 1em;
  font-size: 0;

  &::before {
    @extend %attr-large;
    font-family: $font-serif;
    content: attr(data-first-letter);
    transform: translateY(1rem);
    @include media("<phone") {
      transform: unset;
    }
  }

  &::after {
    @extend %attr-large;
    content: attr(data-other-letters);
    font-weight: 250;
  }
}
