html {
  overflow: hidden;
  font-size: calc(100vw / 1440 * 10);
  @include media("<phone") {
    font-size: calc(100vw / 360 * 10);
  }
}

body {
  @extend %text-10;
  @extend %light-theme;
  min-height: 100vh;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

canvas {
  @extend %screen-full;
  pointer-events: none;
}
