@font-face {
  font-family: $font-serif;
  src: local("Zodiak Italic"), local("Zodiak-Italic"),
    url("../fonts/zodiak-italic.woff2") format("woff2"),
    url("../fonts/zodiak-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Extrabold"), local("Zodiak-Extrabold"),
//     url("../fonts/zodiak-extrabold.woff2") format("woff2"),
//     url("../fonts/zodiak-extrabold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Light Italic"), local("Zodiak-LightItalic"),
//     url("../fonts/zodiak-lightitalic.woff2") format("woff2"),
//     url("../fonts/zodiak-lightitalic.woff") format("woff");
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Light"), local("Zodiak-Light"),
//     url("../fonts/zodiak-light.woff2") format("woff2"),
//     url("../fonts/zodiak-light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Extrabold Italic"), local("Zodiak-ExtraboldItalic"),
//     url("../fonts/zodiak-extrabolditalic.woff2") format("woff2"),
//     url("../fonts/zodiak-extrabolditalic.woff") format("woff");
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: $font-serif;
  src: local("Zodiak Bold"), local("Zodiak-Bold"),
    url("../fonts/zodiak-bold.woff2") format("woff2"),
    url("../fonts/zodiak-bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Black Italic"), local("Zodiak-BlackItalic"),
//     url("../fonts/zodiak-blackitalic.woff2") format("woff2"),
//     url("../fonts/zodiak-blackitalic.woff") format("woff");
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: $font-serif;
  src: local("Zodiak Bold Italic"), local("Zodiak-BoldItalic"),
    url("../fonts/zodiak-bolditalic.woff2") format("woff2"),
    url("../fonts/zodiak-bolditalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Black"), local("Zodiak-Black"),
//     url("../fonts/zodiak-black.woff2") format("woff2"),
//     url("../fonts/zodiak-black.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Thin"), local("Zodiak-Thin"),
//     url("../fonts/zodiak-thin.woff2") format("woff2"),
//     url("../fonts/zodiak-thin.woff") format("woff");
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-serif;
//   src: local("Zodiak Thin Italic"), local("Zodiak-ThinItalic"),
//     url("../fonts/zodiak-thinitalic.woff2") format("woff2"),
//     url("../fonts/zodiak-thinitalic.woff") format("woff");
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: $font-serif;
  src: local("Zodiak Regular"), local("Zodiak-Regular"),
    url("../fonts/zodiak-regular.woff2") format("woff2"),
    url("../fonts/zodiak-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-sans;
  src: local("Clash Display Semibold"), local("ClashDisplay-Semibold"),
    url("../fonts/clashdisplay-semibold.woff2") format("woff2"),
    url("../fonts/clashdisplay-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: $font-sans;
//   src: local("Clash Display Extralight"), local("ClashDisplay-Extralight"),
//     url("../fonts/clashdisplay-extralight.woff2") format("woff2"),
//     url("../fonts/clashdisplay-extralight.woff") format("woff");
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-sans;
//   src: local("Clash Display Bold"), local("ClashDisplay-Bold"),
//     url("../fonts/clashdisplay-bold.woff2") format("woff2"),
//     url("../fonts/clashdisplay-bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: $font-sans;
  src: local("Clash Display Light"), local("ClashDisplay-Light"),
    url("../fonts/clashdisplay-light.woff2") format("woff2"),
    url("../fonts/clashdisplay-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-sans;
  src: local("Clash Display Regular"), local("ClashDisplay-Regular"),
    url("../fonts/clashdisplay-regular.woff2") format("woff2"),
    url("../fonts/clashdisplay-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-sans;
  src: local("Clash Display Medium"), local("ClashDisplay-Medium"),
    url("../fonts/clashdisplay-medium.woff2") format("woff2"),
    url("../fonts/clashdisplay-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
