extends ../base.pug 

block variables
  - var template = "about"

block content
  main.about
    .about__wrapper 

      .about__sections__wrapper
        section.about_me
          .about__me__wrapper
            p.about__text Goodness Urama 
            figure.about__media
              img.about__media__image(src="images/goody.gif" alt="Goodness Urama") 
            figure.about__media
              img.about__media__image(src="images/goody.jpg" alt="web portal") 
            p.about__text Creative
            p.about__text Frontend Developer 
            p.about__text From 
            figure.about__media
              img.about__media__image(src="images/flag.jpg" alt="Nigerian Flag")
            p.about__text  Nigeria

        section.about__mobile
          .about__mobile__wrapper
            figure.about__mobile__media(data-portal-image)
              img.about__mobile__image(src="https://i.ibb.co/9nQSCkF/goody.gif" alt="Goodness Urama")

      section.about__main 
        section.about__heading
          .about__heading__wrapper 
            h1.about__heading__text(data-midTitle) About
            p.about__heading__subtext(data-subTitle)
              | When I'm not writing code, I'm probably moving
              | some vectors/vertices around or planning world
              | domination.
