.hamburger {
  @extend %mobile;
  display: none;
  @include media("<phone") {
    display: block;
  }
}
.hamburger__wrapper {
}
.hamburger__icon {
  width: 4.5rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
}
