.preloader {
  @extend %screen-full;
  z-index: $z-9;
  background: $color-white;
  display: grid;
  place-content: center;
  transform-origin: 100%;
}

.preloader__text {
  @extend %title-45;
  padding: 1.9rem;
  span {
    display: inline-block;
  }
}
.preloader__number {
  @extend %title-45;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 9rem;
  @include media("<phone") {
    bottom: clamp(0rem, 5.8rem, 10vh);
  }
}
